<div class="container-fluid dashboard training">
	<div class="row">

		<div class="col-sm-10 pull-right main">
			<div class="col-sm-8">

				<form action="#" method="POST" role="form">
					<legend>Connect</legend>
				

				</form>
			</div>
		</div>
	</div>

</div>