<div class="container-fluid dashboard training">
	<div class="row">
		
		<div ng-include src="'views/dashboard/sidebar.html'"></div>
		<!-- MAIN -->
		<div class="col-sm-10 pull-right main">
			<div class="col-sm-12">

				<div class="well">
					<div class="row">
						<tabset>
							<diet-view class="diet"></diet-view>
						</tabset>

					</div>
				</div>
			</div>
		</div>
		<!-- END MAIN -->
	</div>
</div>