<div class="container-fluid dashboard training">
	<div class="row">
		
		<div ng-include src="'views/dashboard/sidebar.html'"></div>

		<div class="col-sm-10 pull-right main">
			<div class="col-sm-12">

				<form action="#" method="POST" role="form">
					<legend>Dietas</legend>
						<div class="well">
						Listado de todos los programas de entrenamiento Dynamic
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-default">Todos los programas</button>
						<button  type="button" class="btn btn-default" ng-click="addDiet()">Agregar Nuevo</button>
						<button type="button" class="btn btn-default">Buscar</button>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Panel title</h3>
						</div>
						<div class="panel-body">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Nombre </th>
										<th>Tipo</th>
										<th>Descripción</th>
										<th>Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="diet in diets">
										<td>{{ diet.name }}</td>
										<td>{{ diet.type }}</td>
										<td>{{ diet.desc }}</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-default" ng-click="changeEditable(diet.$id)">Edit</button>
												<button type="button" class="btn btn-default" ng-click="removeDiet(diet.$id)">Delete</button>
												<button type="button" class="btn btn-default">Desactivar</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

</div>

