<div class="container-fluid dashboard training">
	<div class="row">
		
		<div ng-include src="'views/dashboard/sidebar.html'"></div>

		<div class="col-sm-10 pull-right main">
			<div class="col-sm-12">
				<legend>Gyms</legend>
				<div class="well">
					Listado de gimnasios
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default">All Gyms</button>
					<button type="button" class="btn btn-default">Add New</button>
					<button type="button" class="btn btn-default">Search</button>
				</div>
				
				<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Panel title</h3>
						</div>
						<div class="panel-body">
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Type</th>
										<th>Options</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="gym in gyms">
										<td>{{ gym.name }}</td>
										<td>{{ gym.type }}</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-default">Edit</button>
												<button type="button" class="btn btn-default">Delete</button>
												<button type="button" class="btn btn-default">Assign Instructor</button>
												<button type="button" class="btn btn-default">Assign Program</button>
											</div>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
				</div>

				
			</div>
		</div>
	</div>

</div>