<div class="container-fluid dashboard training">
	<div class="row">
		
		<div ng-include src="'views/dashboard/sidebar.html'"></div>

		<div class="col-sm-10 pull-right main">
			<div class="col-sm-8">

				<form action="#" method="POST" role="form">
					<legend>Socios</legend>
				
					<div class="row animate-switch-container">

						<div class="well animate-switch">

							<table class="table table-hover">
								<thead>
									<tr>
										<th>Foto</th>
										<th>Nombre</th>
										<th>Edad</th>
										<th>Sexo</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="member in members">
										<td><a ng-href="#dashboard/members/edit/{{member.$id}}">{{ member.name}}</a></td>
										<td>{{ member.name}}</td>
										<td>{{ member.age}}</td>
										<td>{{ member.sex}}</td>
									</tr>
								</tbody>
							</table>

						</div>

					</div>

				</form>
				<button type="button" class="btn btn-default" ng-click="saveMember()">Agregar Socio</button>

			</div>
		</div>
	</div>

</div>