<div class="container-fluid dashboard training">
	<div class="row">
		
		<div ng-include src="'views/dashboard/sidebar.html'"></div>

		<div class="col-sm-10 pull-right main">
			<div class="col-sm-12">

				<legend>Editar Socio</legend>


				<div class="well animate-switch">
					<form class="form-horizontal" role="form">
							<div class="col-sm-12 form-group">
								<legend>Socio</legend>
							</div>
						
							<div class="col-sm-12">
								<img src="http://placehold.it/100x100" class="img-responsive" alt="Image">

							</div>

							<div class="col-sm-4">
								<div class="info">
									<span class="row-title">Informacion</span>
									<div class="form-group">
										<label class="label" for="memberName">Nombre</label>
										<input class="form-control" type="text" id="memberName" ng-model="member.name">
									</div>

									<div class="form-group">
										<label class="label" for="memberAge">Edad</label>
										<input class="form-control" type="text" id="memberAge" ng-model="member.age">
									</div>

									<div class="form-group">
										<label class="label" for="memberSex">Sex</label>
										<input class="form-control" type="text" id="memberSex" ng-model="member.sex">
									</div>
								</div>
							</div>
							

							<div class="col-sm-4">	

								<div class="profile">
									<span class="row-title">Perfil</span>
									<div class="form-group" ng-repeat="(pInfo,pValue) in member.profile">

										<label class="label">{{ pInfo }}</label>
										<input class="form-control" type="text" ng-model="pValue">

									</div>

									

								</div>

							</div>

							<div class="col-sm-4">

								<div class="programs">	
									<!-- Split button -->
								    <div class="btn-group" dropdown>
								      <button type="button" class="btn btn-default"><i class="fa fa-plus"></i>Agregar Programa</button>
								      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
								        <span class="caret"></span>
								        <span class="sr-only">Agregar Programa</span>
								      </button>
								      <ul class="dropdown-menu" role="menu">
								        <li ng-repeat="p in allPrograms | orderBy:'name'"><a ng-click="addProgram()">{{ p.name }}</a></li>
								      </ul>
								    </div>


									<div class="form-group">
										<table class="table table-striped table-hover">
											<thead>
												<tr>
													<th>Programas</th>
												</tr>
											</thead>
											<tbody>
												<tr  ng-repeat="(pInfo,pVal) in programs">
													<td>{{ pVal.name }}</td>
												</tr>
											</tbody>
										</table>

									</div>
								</div>
							</div>

							
							<hr>

							

							<div class="col-sm-12">
								<div class="btn-group">
									<button type="button" class="btn btn-default" ng-click="saveMember()">Guardar Socio</button>
								</div>

							</div>

					</form>

				</div>
				
			</div>
		</div>
	</div>

</div>