<div class="container-fluid dashboard training">
	<div class="row">
		
		<div ng-include src="'views/dashboard/sidebar.html'"></div>

		<div class="col-sm-10 pull-right main">
			<div class="col-sm-8">

				<form action="#" method="POST" role="form">
					<legend>Personalized</legend>
				

				</form>
			</div>
		</div>
	</div>

</div>