<div class="container-fluid dashboard training">
	<div class="row">
		
		<div ng-include src="'views/dashboard/sidebar.html'"></div>
		<!-- MAIN -->
		<div class="col-sm-10 pull-right main">
			<div class="col-sm-12">

				<div class="well">
					<div class="row">
						<div class="col-sm-5">
							<span class="lead">Editar:</span>
							 <div class="">
								<input ng-model="program.name" class="form-control">
							</div>
						</div>
					

						<div class="col-sm-4 pull-right">
							<div class="timepicker-holder">
								<label for="program-timepicker">Inicia</label>
								<timepicker id="program-timepicker" ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
							</div>

						</div>
					</div>

								

					<div class="tab-wrapper">
						
						<div class="btn-group">
							<button type="button" class="btn btn-default  pull-right" ng-click="addRoutine(routine)" ><i class="fa fa-plus"></i> Agregar Rutina</button>
						</div>

					  <tabset vertical="true" type="pills">
					    
					    <tab ng-repeat="(routineId,routine) in routines" class="routines tabber"  vertical="true" type="pills">
					    	<tab-heading>
					        	{{routine.name}} 
					        	<button type="button" class="close" ng-click="deleteRoutine(routine.$id)" >&times;</button>
					      	</tab-heading>

					      <!-- START ROUTINE HOLDER -->
							<div class="routine-holder" >
								<div class="spaner">
									
								</div>
								<table class="table">
									<thead>
										<tr>
											<th>Nombre de Ejercicio</th>
											<th>Repeticiones</th>
											<th>Opciones</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="(excerciseId,excercise) in routine.excercises">
											<td >
												<span class="tablerow-head" ng-if="excercise.pause">Descanso</span>
												<input ng-if="!excercise.pause" class="form-control" type="text" placeholder="Nombre de Ejercicio" ng-model="excercise.name">
											</td>
											<td>

												<input ng-if="!excercise.pause"  class="form-control" type="text" placeholder="Repeticiones" ng-model="excercise.reps">
												<input ng-if="excercise.pause" class="form-control" type="text" ng-model="excercise.tiempo" placeholder="Tiempo">
											</td>
											<td>
												<button type="button" class="btn btn-default" ng-click="removeExcercise(excerciseId,routine)"><i class="fa fa-remove"></i></button>
											</td>

										</tr>
									</tbody>
								</table>

								
								<button type="button" class="btn btn-success pull-right" ng-click="updateProgram()"><i class="fa fa-check-square"></i> Guardar Cambios</button>

								<button type="button" class="btn btn-default  pull-right" ng-click="addExcercise(routine.$id)" ><i class="fa fa-plus"></i> Agregar Ejercicio</button>

								<button type="button" class="btn btn-default  pull-right" ng-click="addExcercise(routine.$id,true)" ><i class="fa fa-clock-o"></i> Agregar Descanso</button>


							</div>
							<!-- END ROUTINE HOLDER -->
					    </tab>
					    
					  </tabset>
										 
					</div>


					
	
					<hr>
					
	
					<!--
					<input  class="form-control"
				  		ng-model="string" name="string" ng-required="true">
					</input>
					-->
					<dimv class="clearfix"></div>
					<hr>
				</div>

			</div>
		</div>
		<!-- END MAIN -->
	</div>

</div>