<div class="container-fluid dashboard training">
	<div class="row">
		
		<div ng-include src="'views/dashboard/sidebar.html'"></div>
		<!-- MAIN -->
		<div class="col-sm-10 pull-right main">
			<div class="col-sm-12">

				<legend>Programas de Entrenamiento Dynamic</legend>
				<div class="well">
					Listado de todos los programas de entrenamiento Dynamic
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-default">Todos los programas</button>
					<button  type="button" class="btn btn-default" ng-click="addProgram()">Agregar Nuevo</button>
					<button type="button" class="btn btn-default">Buscar</button>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Panel title</h3>
					</div>
					<div class="panel-body">

						<table class="table table-hover">
							<thead>
								<tr>
									<th></th>
									<th><a ng-click="order()">Nombre de Programa <span class="sortorder" ng-class="{reverse:reverse}"></span></a></th>
									<th>
										Opciones
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="program in programs | orderBy:'name':reverse " ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
									<td><img src="http://placehold.it/50x50"></td>
									<td>
										{{program.name}}
									</td>
									<td>
										<div class="btn-group">
											<button type="button" class="btn btn-default" ng-click="changeEditable(program.$id)">Edit</button>
											<button type="button" class="btn btn-default" ng-click="removeProgram(program.$id)">Delete</button>
											<button type="button" class="btn btn-default">Assign Instructor</button>
											<button type="button" class="btn btn-default">Desactivar</button>
										</div>

									</td>
								</tr>
							</tbody>
						</table>
					</div>


				</div>

			</div>
		</div>
		<!-- END MAIN -->
	</div>

</div>