
<div class="input-group col-sm-3">
	<label for="newroutine">Ejercicio</label>

	<input class="form-control" placeholder="Ejercicio" ng-model="excercise.name"
	name="newroutine" id="newroutine"
	>
</div>

<div class="input-group col-sm-3">
	<label for="newreps">Repeticiones</label>

	<input class="form-control" placeholder="Repeticiones" ng-model="excercise.reps" name="newreps" id="newreps">
</div>
<div class="clearfix"></div>