<!-- START SIDEBAR -->
<div id="sidebar" class="col-sm-2 sidebar fixed hidden-xs">
  <ul class="nav nav-sidebar">
    <li class="active"><a ng-href="#/dashboard"><i class="fa fa-dashboard"></i> Vista General <span class="sr-only">(current)</span></a></li>
    <li><a ng-href="#/dashboard/programs"><i class="fa fa-cubes"></i> Programas</a></li>
    <li><a ng-href="#/dashboard/diets"><i class="fa fa-heartbeat"></i> Dietas</a></li>
    <li><a ng-href="#/dashboard/reports"><i class="fa fa-bar-chart"></i> Reportes</a></li>
    <li><div class="separator"></div></li>
  </ul>

  <ul class="nav nav-sidebar">
    <li><a ng-href="#/dashboard/members"><i class="fa fa-users"></i> Socios</a></li>
    <li><a ng-href="#/dashboard/gyms"><i class="fa fa-bicycle"></i> Gyms</a></li>
    <li><a ng-href="#/dashboard/openair"><i class="fa fa-child"></i> Aire Libre</a></li>
    <li><a ng-href="#/dashboard/personalized"><i class="fa fa-calendar"></i> Personalizado</a></li>
    <li><div class="separator"></div></li>
  </ul>
  <ul class="nav nav-sidebar">

    <li><a ng-href="#/dashboard/config"><i class="fa fa-dashboard"></i> Configuracion</a></li>
    <li><a ng-href="#/dashboard/connect"><i class="fa fa-dashboard"></i> Connect</a></li>
    <li><div class="separator"></div></li>
  </ul>
</div>

<!-- END SIDEBAR -->