<div class="container-fluid dashboard training">
	<div class="row">
		
		<div ng-include src="'views/dashboard/sidebar.html'"></div>

		<div class="col-sm-10 pull-right main">
			<div class="col-sm-8">

				<form>
					<legend>Registrar Entrenamiento</legend>

					<div class="form-group">
						<label for="">Nombre de Rutina</label>
						<input type="text" class="form-control" id="" placeholder="WOD 50Ws">
					</div>

					<div class="row">
						<div class="col-sm-3">
							<div class="alert alert-info">
								<strong>Registrar Ejercicio</strong> 
							</div>
						</div>
						<div class="col-sm-9">
							<div class="form-group">
								<label for="input" class="col-sm-3 control-label">Nombre:</label>
								<div class="col-sm-9">
									<input ng-model="routine.name" type="text" name="nombre" id="nombre_input" class="form-control" value="" placeholder="nombre de ejercicio">
								</div>
							</div>
							<div class="form-group">
								<label for="input" class="col-sm-3 control-label">Repeticiones:</label>
								<div class="col-sm-9">
									<input ng-model="routine.reps" value="1" type="number" name="" id="input" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary" ng-click="addRoutine()">Guardar</button>
							</div>

						</div>
					</div>

					<div class="well">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Repeticiones</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="routine in routines">
									<td>{{ routine.name}}</td>
									<td>{{ routine.reps}}</td>
								</tr>
							</tbody>
						</table>
					</div>

				</form>

			</div>
		</div>
	</div>

</div>