@import 'bower_components/bootstrap/less/bootstrap.less';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.container{
	width: 960px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.sortorder:after {
	content: '\25b2';
}
.sortorder.reverse:after {
content: '\25bc';
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
	padding-left: 0;
	padding-right: 0;
  }
  /* Space out the masthead */
  .header {
	margin-bottom: 10px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
	border-bottom: 0;
  }
}

/* custom styles */

@dy-yellow: #ffc20f;
@dy-yellow-gold: #fdbc00;

@dy-dark-gray: #1c1c1c;
@dy-dark-gray-light: #292929;
@dy-dark-gray-main: #333;

body {
  padding: 0;
  background-color: @dy-dark-gray;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.preloader{
	font-size: 24px;
}

.diet-table tr{
  	height: 100px;
}
.header{
	border-bottom: 0;
	color: white;
	font-family: 'Roboto', sans-serif;
	position: fixed;
	width: 100%;
	display: block;
	z-index: 1000;
}
.logo{
	text-indent: -10000px;
	display: block;
	width: 208px;
	height: 53px;
	margin-top: 6px;
	padding: 0;
	height: 80%;
	img{
		height: 100%;
	}
}
.navbar{
	margin-bottom: 10px;
}
.navbar-default{
	background: url('../../images/background-bar.png') repeat-x 0 -1px transparent;
	border: 0;
	height: 70px;
	font-weight: 400;
	.transition(height .3s);

	.container-fluid{
		height: 100%;
	}

	.navbar-header{
		height: 100%;
	}

	&.navbar-shrink{
		height: 50px;
		.navbar-nav > li a{
			line-height: 20px;
		}
		.navbar-nav > li .dropdown{
			margin-top: 8px;
		}
	}

	.navbar-nav > li{
		&.active{
			a{
				background: darken(white,70);
				color: white;
				.transition(line-height .3s);
			}
		}

		a{
			line-height: 42px;
			color: white;

			&:hover{
				color: darken(white,40);
			}
			&:active,&:visited{
				color: white;
			}
		}
	}
}

.navbar-nav > li .dropdown{
	margin-top: 18px;
	.transition(margin-top .3s);

	.btn{
		color: white;
		background-color: lighten(@dy-dark-gray-main,10%);
		boder-color:darken(@dy-dark-gray-main,20%);

	}
	a{
		color: darken(white,60);
	}
}

.largebar{
	background-color: @dy-yellow;
	height: 5px;
	display: block;
}
.tag{
	background-color: @dy-dark-gray-light;
	background: url('../../images/texture-gray.png') repeat 0 0 @dy-dark-gray-light;
	border: 1px solid #424242;
	padding: 20px;
	border-radius: 4px;
}

.dlogo{
	background: url('../../images/d70w-logo.png') no-repeat 0 0 transparent;
	width: 243px;
	height: 107px;
	text-indent: -10000px;
	display: inline-block;
	margin: 30px 40px;
}
p span{
	color: @dy-yellow;
}

.btn{
	&.btn-warning{
		box-shadow: 3px 3px 5px #000;
		#gradient.vertical(@dy-yellow-gold,#cb8a00);
		&:hover{
			#gradient.vertical(lighten(@dy-yellow-gold,10),#cb8a00);
		}
		&.read-more{
			margin: 60px 0;
			width: 200px;
		}
	}
}

.container.main{
	padding-top: 100px;
	margin-bottom: 150px;
}

.video-display{
	width: 620px;
	height: 380px;
	display: block;
	margin: 0 auto;
	background: url('../../images/video-bg.png') no-repeat 0 0 transparent; 
	margin-top: -90px;
	position: relative;
	.play{
		width: 112px;
		height: 120px;
		display: block;
		background: url('../../images/play-logo.png') no-repeat 0 0 transparent; 
		position: absolute;
		top: 30%;
		left: 41%;
		cursor: pointer;
	}

}

.row.middle{
	height: 688px;
	display: block;
	margin: 0 auto;
	background: url('../../images/background-middle.jpg') no-repeat center center transparent; 

	.lead{
		color: @dy-dark-gray;
		font-weight: 400;
	}
}
.row.middle-down{
	background: @dy-yellow;
	height: 500px;
	color: @dy-dark-gray;
	.divider-small{
		width: 400px;
		height: 3px;
		background-color: @dy-dark-gray;
		display: block;
		margin: 50px auto 0;
	}
	.circle{
		height: 276px;
		background: url('../../images/circle1.png') no-repeat center center transparent; 

		&:after{
			display:block;
			width: 172px;
			height: 202px;
			background: url('../../images/circle-over.png') no-repeat center center transparent; 
		}

		&.gym{
			background: url('../../images/circle2.png') no-repeat center center transparent; 
		}
		&.aire{
			background: url('../../images/circle3.png') no-repeat center center transparent; 
		}

	}
}

.row.bottom{
	.lead{
		margin: 70px 0;
		float: right;
	}

	.dlogo{
		float: right;
		margin-right: 100px;
	}

	.image-gym{
		width: 480px;
		height: 350px;
		display: block;
		background: url('../../images/img-gym.png') no-repeat center center transparent;
	}
	ul{
		i{
			color: @dy-yellow;
			font-weight: 700;
		}
		li{
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
}

.map-container{
	height: 390px;
	width: 100%;
	display: block;
	color: black;

	#map-canvas{
		height: 350px;
		width: 100%;
		display: block;
		overflow: hidden;
	}
	.map-tag{
		background: url('../../images/gyms-tag.png') no-repeat center center transparent;
		width:378px;
		height: 44px;
		display: block;
		margin: 0 auto;
	}
}

.footer{
	color: white;
	padding: 50px 0;
	background-color: @dy-dark-gray-light;
	background: url('../../images/texture-gray.png') repeat 0 0 @dy-dark-gray-light;
	overflow: hidden;

	.footer-logo{
		background: url('../../images/logo-sm.png');
		text-indent: -10000px;
		display: block;
		width: 157px;
		height: 40px;
	}
	.nav-footer{
		color: white;
		a{
			color: white;
		}
	}

	.lead{
		font-size: 16px;
		margin-top: 20px;
	}
	li{
		margin-right: 20px;
	}
	.social{
		font-size: 24px;
		margin-right: 5px;
	}

}

.modal{
	color: black;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 100px auto 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}

.sweet-alert{
	input{
		color: black;
	}
}

.label{
	color: black;
}

.form-horizontal{
	overflow: hidden;
}

/*  Dashboard */
.dashboard{
	background: #eaeaea;
	color: black;
	.text-muted{
		width: 100%;
		display: block;
	}

	.page-header{
		margin-top: 20px;
	}

	.chart{
		width: 130px;
		margin: 0 auto;
		text-align: center;
	}
	.well{
		
	}

	.btn-toolbar{
		margin-bottom: 20px;
	}

	.sidebar{
		background-color: @dy-dark-gray-light;
		height: 100%;
		position: fixed;
		padding-top: 70px;

		a{
			color: @dy-yellow;
			font-size: 12px;
			font-weight: 400;

			i{
				font-size: 14px;
			}

			&:hover{
				background-color: @dy-dark-gray;
			}
		}
		.separator{
			width: 100%;
			border-bottom: 1px solid black;
			border-bottom: 1px solid ligthen(dy-dark-gray,20);
			height: 1px;
			display: block;
		}

	}

	.main{
		padding-left: 10px;
		padding-top: 80px;
		min-height: 900px;

		.page-header{
			span{
				font-size: 18px;
			}
		}
		.bg-warning{
			padding: 40px;
			margin: 10px 0;
		}
	}

	.fixed {
	  color: @dy-yellow;
	  font: bold 15px arial;
	  border: 1px solid @dy-yellow;
	  height: 100%;
	  top: 0px;
	  position: fixed;

	}

	.input-group{
		float: left;
		margin-top: 10px;
	}

	/**
		DASHBOARD PROGRAM
	**/

	.add-program{
		.btn{
			margin: 35px 0 0;			
		}
		  
	}

	.routine-holder{
		margin-bottom: 40px;
	}

	.tabber.routines{
		margin: 10px 0;
	}

	.tablerow-head{
		font-size: 14px;
		font-weight: bold;
	}

	.tab-wrapper{
		.tabs-below > .nav-tabs,
		.tabs-right > .nav-tabs,
		.tabs-left > .nav-tabs {
			border-bottom: 0;
		}

		.tab-content > .tab-pane,
		.pill-content > .pill-pane {
			display: none;
		}

		.tab-content > .active,
		.pill-content > .active {
			display: block;
		}

		.tabs-below > .nav-tabs {
			border-top: 1px solid #ddd;
		}

		.tabs-below > .nav-tabs > li {
			margin-top: -1px;
			margin-bottom: 0;
		}

		.tabs-below > .nav-tabs > li > a {
			-webkit-border-radius: 0 0 4px 4px;
			-moz-border-radius: 0 0 4px 4px;
			border-radius: 0 0 4px 4px;
		}

		.tabs-below > .nav-tabs > li > a:hover,
		.tabs-below > .nav-tabs > li > a:focus {
			border-top-color: #ddd;
			border-bottom-color: transparent;
		}

		.tabs-below > .nav-tabs > .active > a,
		.tabs-below > .nav-tabs > .active > a:hover,
		.tabs-below > .nav-tabs > .active > a:focus {
			border-color: transparent #ddd #ddd #ddd;
		}

		.tabs-left > .nav-tabs > li,
		.tabs-right > .nav-tabs > li {
			float: none;
		}

		.tabs-left > .nav-tabs > li > a,
		.tabs-right > .nav-tabs > li > a {
			min-width: 74px;
			margin-right: 0;
			margin-bottom: 3px;
		}

		.tabs-left > .nav-tabs {
			float: left;
			margin-right: 19px;
			border-right: 1px solid #ddd;
		}

		.tabs-left > .nav-tabs > li > a {
			margin-right: -1px;
			-webkit-border-radius: 4px 0 0 4px;
			-moz-border-radius: 4px 0 0 4px;
			border-radius: 4px 0 0 4px;
		}

		.tabs-left > .nav-tabs > li > a:hover,
		.tabs-left > .nav-tabs > li > a:focus {
			border-color: #eeeeee #dddddd #eeeeee #eeeeee;
		}

		.tabs-left > .nav-tabs .active > a,
		.tabs-left > .nav-tabs .active > a:hover,
		.tabs-left > .nav-tabs .active > a:focus {
			border-color: #ddd transparent #ddd #ddd;
			*border-right-color: #ffffff;
		}

		.tabs-right > .nav-tabs {
			float: right;
			margin-left: 19px;
			border-left: 1px solid #ddd;
		}

		.tabs-right > .nav-tabs > li > a {
			margin-left: -1px;
			-webkit-border-radius: 0 4px 4px 0;
			-moz-border-radius: 0 4px 4px 0;
			border-radius: 0 4px 4px 0;
		}

		.tabs-right > .nav-tabs > li > a:hover,
		.tabs-right > .nav-tabs > li > a:focus {
			border-color: #eeeeee #eeeeee #eeeeee #dddddd;
		}

		.tabs-right > .nav-tabs .active > a,
		.tabs-right > .nav-tabs .active > a:hover,
		.tabs-right > .nav-tabs .active > a:focus {
			border-color: #ddd #ddd #ddd transparent;
			*border-left-color: #ffffff;
		}

		.nav-pills{
			display: block;
			float: left;
			width: 25%;
		}
		.tab-pane{
			width: 75%;
			display: block;
			float: right;
		}

	
		.timepicker-holder{
			background: @gray-darker;
		}

		/**
			DASHBOARD PROGRAM
		**/
	}

	.row-title{
		font-size: 14px;
		font-weight: bold;
		display: block;
		padding: 0;
		margin: 0;
	}
}

/* END  Dashboard */


.training{
	.legend{
		color: white;
	}
}

.about{
	background: url('../../images/background-about.jpg') no-repeat top center transparent;
	display: block;
	min-height: 900px;
	position: relative;
	

	.container{
		width: 840px;
	}

	.background-cover{
		background: url('../../images/background-cover.png') no-repeat top center transparent;
		height: 800px;
		display: block;
		position: absolute;
		top: 300px;
		width: 100%;
	}

	.row{
	}

	.text-holder{
		background-color: white;
		color: @dy-dark-gray-main;
		text-align: justify;
	}
	.image-holder{
		padding-right: 0;
		padding-left: 0;
	}

	h2{
		font-size: 20px;
		font-weight: 700;
		margin: 6px 0;
	}
	.headline{
		background-color: @dy-dark-gray-main;
		color: white;
		font-family: 'Roboto', sans-serif;
		display: block;
		margin-top: 40px;
		font-size: 72px;
		width: 470px;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 60px;
	}

}

/*Animation effects*/
div[ng-view] {
    position: absolute;
    width: 100%;
    height: 100%;
}
div[ng-view].ng-enter,
div[ng-view].ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
div[ng-view].ng-enter {
    left: 100%;     /*initial css for view transition in*/
}
div[ng-view].ng-leave {
    left: 0;        /*initial css for view transition out*/
}
div[ng-view].ng-enter-active {
    left: 0;        /*final css for view transition in*/
}
div[ng-view].ng-leave-active {
    left: -100%;    /*final css for view transition out*/
}