
<div class="row">
	
	<div class="col-sm-8">
		<div class="input-group col-sm-6">
			Nombre: 
			<input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="" ng-model="diet.name">
		</div>
		<div class="input-group col-sm-6">
			Tipo:
			<input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="" ng-model="diet.type">
		</div>

		<div class="input-group col-sm-12">
			Descripcion:
			<input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="" ng-model="diet.desc">
		</div>
	</div>

</div>




<div class="row">
	
	<div class="col-sm-12">
		<div class="food col-sm-2" ng-repeat="(dia,val) in diet.dias">	
			<h4>{{ dia }}</h4>
			<div class="food-row"> 
				<table class="table table-hover diet-table">
					<thead>
						<tr>
							<th>Alimento</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(moment,food) in val">
							<td>{{ moment }}</td>
							<td>
								{{food}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>