<!-- start wrapper -->
<div class="wrapper">

	<div class="about">
		<div class="background-cover">
		</div>
		<div class="container">
			<div class="row">
					<h1 class="headline">Dynamic Bodyweight</h1>
			</div>
			<div class="row">
				<div class="col-sm-6 text-holder item">
					<h2>Somos Dynamic Bodyweight</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare egestas nunc. Nullam sapien arcu, venenatis vitae neque nec, dapibus interdum tortor. Aliquam at lacus non dolor feugiat ultricies. Cras condimentum sem vel tortor ultricies dapibus ut non dolor. Curabitur varius ipsum vel consequat efficitur. Nam volutpat, augue quis feugiat tempus, nunc lectus ornare nunc, sit amet placerat nunc velit at ex. Nam a consectetur tortor, non aliquam libero.</p>
				</div>
				<div class="col-sm-6 image-holder item">
					<img src="images/about-1.jpg" class="img-responsive" alt="Image">
				</div>

				<div class="col-sm-6 image-holder item">
					<img src="images/about-2.jpg" class="img-responsive" alt="Image">
				</div>
				<div class="col-sm-6 text-holder item">
					<h2>Meta</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare egestas nunc. Nullam sapien arcu, venenatis vitae neque nec, dapibus interdum tortor. Aliquam at lacus non dolor feugiat ultricies. Suspendisse ornare egestas nunc. Nullam sapien arcu, venenatis vitae neque nec, dapibus interdum tortor. Aliquam at lacus non dolor feugiat ultricies.</p>
				</div>
				<div class="col-sm-6 image-holder item">
					<img src="images/about-3.jpg" class="img-responsive" alt="Image">
				</div>

				<div class="col-sm-12 text-holder item">
					<h2>Nuestros Instructores</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ornare egestas nunc. Nullam sapien arcu, venenatis vitae neque nec, dapibus interdum tortor. Aliquam at lacus non dolor feugiat ultricies.</p>
				</div>
			</div>


		</div>
		

	</div>
	<div ng-include src="'views/footer.html'"></div>

<!-- end wrap container -->
</div>
