<!-- START FOOTER -->
<div class="clearfix"></div>
<div class="footer">
  <div class="container">
    <div class="col-sm-4">
      <div class="footer-logo"></div>
      <p class="lead"> Copyright 2013 Dynamic Bodyweight Training </p>
      <p> Dynamic Bodyweight Training Inc</p>
    </div>
    <div class="col-sm-8">
      <div class="nav-footer">
        <ul class="list-inline">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Personalizado</a></li>
          <li><a href="#">Gym</a></li>
          <li><a href="#">Aire Libre</a></li>
        </ul>

        <ul class="list-inline">
          <li><a href="#">Sobre Dynamic</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Legal</a></li>
        </ul>

        <div class="social">
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- END FOOTER -->