
<div class="header" ng-controller="LoginCtrl">
  <div class="largebar"></div>
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand logo" href="#/"><img src="images/logo.png"></a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#/">Inicio</a></li>
          <li><a ng-href="#/training">Nuestros Entrenamientos</a></li>
          <li><a ng-href="#/personalized">Personalizado</a></li>
          <li><a ng-href="#/gyms">Gym</a></li>
          <li><a ng-href="#/openair">Aire Libre</a></li>
          <li ng-hide="user.logged"><a ng-href="#/login">Login</a></li>
          <li  ng-show="user.logged">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                {{ user.email }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="#/dashboard">Dashboard</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="logout(user,logoutCallback)">Cerrar Sesión</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>