
<div class="container">
	<span class="lead">Para continuar inicia sesión, o  <a href="javascript:;" class="" ng-click="register()"><u>Registrate</u></a></span>
	<!-- modal content -->
	<form novalidate class="form-signin">
		<h4 class="form-signin-heading">Por favor inicie sesión</h4>
		<label for="inputEmail" class="sr-only">Correo Electrónico</label>
		<input type="email" ng-model="user.email" id="inputEmail" class="form-control" placeholder="Correo Electrónico" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password"  ng-model="user.password" id="inputPassword" class="form-control" placeholder="Password" required>
		<div class="checkbox">
		  <label>
		    <input type="checkbox"  ng-model="user.remember" value="remember-me"> Recuerdame
		  </label>
		</div>
       <button class="btn btn-lg btn-primary" ng-click="login(user,loginCallback)" type="submit">Iniciar Sesión</button>
	</form>

			
</div>
