<!-- start wrapper -->
<div class="wrapper">

  <div class="container main">
  
    <div class="row">
      <p class="col-sm-5 tag left">
        Somos una compañia dedicada al <span>entrenamiento funcional</span> y a la creación de metodologías de entrenamiento personalizadas.
        <br>
        <br>
        Nuestra experiencia nos lleva a desarrollar eficientes programas de entrenamiento funcional, basandonos en los <span>metodos </span> mas <span>modernos</span> a nivel mundial
      </p>

      <div class="col-sm-7">
        <div class="row">
          <a href="" class="btn pull-right btn-warning read-more">Leer Mas</a>
          <a href="" class="pull-right dlogo">Dynamic 70WOD</a>
        </div>
        <div class="row">
          <p class="text-left col-sm-8 pull-right">Programa de entrenamiento funcional <span>+</span> dieta <span>+</span> motivacion.
            <br>
            Creado para cambiar tu imagen y mejorar tus habilidades en tan solo <span>70 workouts(70 dias)</span>
          </p>
        </div>
      </div>

    </div>
  </div>

    
  <div class="row middle">
    <div class="container">
      <a class="video-display">
        <div class="play"></div>
      </a>
    </div>
    <p class="lead text-center">
      <u>"La Forma <strong>más eficaz</strong> de entrenar con tu propio cuerpo."</u>
    </p>
  </div>

  <div class="row middle-down">
    <div class="container">
      <div class="divider-small"></div>
      <h3 class="text-center">Metodos de <strong>Entrenamiento</strong></h3>
      <div class="clearfix"></div>
      <a class="circle personal col-sm-4 wow slideInLeft"></a>
      <a class="circle gym col-sm-4 wow slideInLeft"></a>
      <a class="circle aire col-sm-4 wow slideInLeft"></a>
      <div class="clearfix"></div>
      <div class="divider-small"></div>
    </div>
  </div>

  <div class="row bottom">
    <div class="container">
      <div class="row">
        <a class="dlogo col-sm-6 wow slideInRight"></a>
        <p class="lead col-sm-6 wow slideInLeft">Entrenamiento + <span>Dieta</span>
        </p>
      </div>
      <div class="row">
        <ul class="list-unstyled col-sm-6">
          <li><i class="fa fa-angle-right"></i> Esta es la formula mas eficaz y estará perfectamente bien <span>balanceada</span></li>
          <li><i class="fa fa-angle-right"></i> Nuestro programa se acopla a tus <span>necesidades</span></li>
          <li><i class="fa fa-angle-right"></i> Jamás es necesario que te adaptes a nuestro programa</li>
          <li><i class="fa fa-angle-right"></i> Los entrenadores te motivarán y te guiarán de una forma precisa</li>
          <li><i class="fa fa-angle-right"></i> Las dietas estarán tan correctamente bien balanceadas para que veas los resultados de forma rápida</li>
          <li><i class="fa fa-angle-right"></i> El staff estará comprometido contigo desde el principio hasta el final</li>

        </ul>
        <div class="image-gym col-sm-6"></div>
        <a href="" class="btn pull-right btn-warning read-more">Leer Mas</a>


      </div>
      
    </div>
  </div>

  <div class="map-container">
    <div class="map-tag"></div>
    <div id="map-canvas"></div>
  </div>

  <div ng-include src="'views/footer.html'"></div>

<!-- end wrap container -->
</div>