<!-- start wrapper -->
<div class="wrapper">


	<div class="container training">
		<div class="row">
			<h3>Lista de Entrenamientos</h3>
			<div class="col-sm-4">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Rutine</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="routine in routines">
							<td>{{name}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


<!-- end wrap container -->
</div>